/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  text-align: center;

} */

.foot {
  border-left: 1px solid whitesmoke;
  border-radius: 1px;
  background-color:#d7c0d0;
  height: 10px;
}